@import "tailwindcss";

 
@theme {
  --font-inter: "Inter", 'sans-serif'; 
  --color-blur:#F1F3FF;
  --color-clr-brdr:#00234B80;
  --color-clr:#00234B;
  --color-clr-secondary:#EEEFFF;
  --color-clr-text:#838A95;
  --color-btn:#4C5DEF;
  --color-primary:#5163FF;
  --color-dark:#0C0129;
  --color-card:#FE71B908;
  --color-icon:#ffffff10;
  --color-g1:#708BFD;
  --color-g2:#FE71B9;
  --color-g3:#f974bd;
  --color-g4:#7067f2;
  --breakpoint-small-md:700px;
}
@layer components{
  .fourth_active{
    @apply w-[200px] h-[200px] md:w-[180px] xl:w-[280px] 2xl:w-[380px] md:h-[180px] xl:h-[280px] 2xl:h-[380px] -ml-5 z-10
  }
  .last_active{
    @apply scale-70 w-[200px] h-[200px]  relative -right-[0%] 2xl:-right-[5%] rotate-15 md:w-[280px] md:h-[280px] xl:w-[350px] 2xl:w-[500px] xl:h-[350px] 2xl:h-[500px] 
  }
  .second_active {
    @apply  w-[200px] h-[200px] md:w-[350px] xl:w-[450px] 2xl:w-[600px] md:h-[350px] xl:h-[450px] 2xl:h-[600px] z-30 left-10 md:pl-0
  }
  .third_active{
    @apply w-[200px] h-[200px]  md:w-[280px] xl:w-[380px] 2xl:w-[480px] md:h-[280px] xl:h-[380px] 2xl:h-[480px] -ml-5 z-20
  }
  .first_active{
    @apply scale-70  relative -left-[0%] 2xl:-left-[8%] -rotate-15 w-[200px] h-[200px]  md:w-[280px] md:h-[280px] xl:w-[350px] 2xl:w-[500px] xl:h-[350px] 2xl:h-[500px]
  }
  .slide-common {
    @apply absolute left-1/2 -translate-x-1/2 transition-all duration-500 ease-in-out w-[300px] sm:w-[560px] md:w-[760px] lg:w-[960px] mx-auto shadow-2xl rounded-xl bg-white p-10
  }
 
  .slide-prev1 {
    @apply z-40 top-[70px] scale-90 blur-[2px]
  }

  .slide-prev2 {
    @apply z-30 top-[-0px] scale-80 blur-[2px]
  }

  .slide-next1 {
    @apply z-20 top-[0px] scale-70 blur-[2px]
  }

  .slide-next2 {
    @apply z-10 top-[-190px] scale-60 blur-[2px]
  }

  .slide-hidden {
    @apply hidden
  }
}
 
@layer base{
  .btn_shadow{
    box-shadow: inset 0px -4px 10px #8592ff;
    filter: drop-shadow(0px 3px 10px #6e7cfa67);
    background-color: var(--color-btn);
    transition: all 0.3s ease-in-out;
    -webkit-filter: drop-shadow(0px 3px 10px #6e7cfa67);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .inner-shadow{
    box-shadow: inset 0px -2px 10px #c5cafc;
  }
  .btn_shadow::after{
    position: absolute;
    border-radius: 50%;
    content: '';
    background: #aab2f7;
    filter: blur(10px);
    top: -20px;
    left: 10px;
    width: 70%;
    height: 40px;
    -webkit-filter: blur(10px);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}
.stroke_text{
  -webkit-text-stroke: #f0f0f0 2px !important;
  -webkit-text-fill-color: transparent !important;
}
  .marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
    background-color: #f0f0f0;
  }
  .marquee-content {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 60s linear infinite;
  }
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  .border-img{
    border-image: linear-gradient(to right, #4C5DEF, #FE71B9) 10%;
    border-width: 4px;
    border-style: dashed;
  }
 .swiper-wrapper{
    align-items: center !important;
  }
 
  /* .clientImg .swiper-slide-active{
    width: 300px;
    height: 300px;
  }

  #feedback_sect > .swiper-slide.swiper-slide-active > .qoute{
    display: inline-block;
  }

  */
  /* .works_showcase .swiper-wrapper {
    display: flex !important;
    align-items: end !important;
  }
  .works_showcase .swiper-slide.swiper-slide-prev {
    width: 600px !important;
    height: 600px !important;
    z-index: 30;
    margin-left: 200px;
  }
  .works_showcase .swiper-slide-active {
    width: 480px !important;
    height: 480px !important;
    margin-left: -1.25rem !important;  
    z-index: 20;
  }
  .works_showcase .swiper-slide.swiper-slide-next{
    width: 380px !important;
    height: 380px !important;
    margin-left: -20px;
    z-index: 10;

  }

  .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next):not(.swiper-slide-prev) {
    width: 380px !important;
    height: 380px !important;
    position: absolute;
    left: -15% !important;
    rotate: -15deg !important;
  }
  .works_showcase .swiper-slide.swiper-slide-next + .swiper-slide {
    width: 380px !important;
    height: 380px !important;
    position: absolute;
    right: -15% !important;
    rotate: 15deg !important;
  } */

  
  .work_item.active.second_active{
    position: relative;
    animation: scaleItem .4s linear forwards;
  }
 
  .second_active .info.active{
    position: relative;
    animation: fadeUpInfo .4s linear forwards;
  }
  @keyframes fadeUpInfo {
    0%{
      opacity: 0;
      bottom: -10px;
    }
    100%{
      opacity: 1;
      bottom: 0px;
    }
  }
  @keyframes scaleItem {
    0%{
      opacity: 0;
      scale: .9;
    }
    100%{
      opacity: 1;
      scale: 1;
    }
  }

}