@import "tailwindcss";

 
@theme {
  --font-inter: "Inter", 'sans-serif'; 
  --color-blur:#F1F3FF;
  --color-clr-brdr:#00234B80;
  --color-clr-text:#838A95;
  --color-btn:#4C5DEF;
  --color-primary:#5163FF;
  --color-dark:#0C0129;
  --color-card:#FE71B908;
  --color-icon:#ffffff10;
}
 
@layer base{
  .btn_shadow{
    box-shadow: inset 0px -4px 10px #8592ff;
    filter: drop-shadow(0px 3px 10px #6e7cfa);
    background-color: var(--color-btn);
    transition: all 0.3s ease-in-out;
    -webkit-filter: drop-shadow(0px 3px 10px #6e7cfa);
    position: relative;
    overflow: hidden;
    z-index: 1;
}
  .btn_shadow::after{
    position: absolute;
    border-radius: 50%;
    content: '';
    background: #9ca5f7;
    filter: blur(20px);
    top: -20px;
    left: 10px;
    width: 70%;
    height: 40px;
    -webkit-filter: blur(20px);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}
}